#contenedor {
    width: 80%;              /* El ancho del contenedor ocupará el 80% del ancho total de la pantalla */
    max-width: 950px;        /* El ancho máximo del contenedor será de 950px, para evitar que se expanda demasiado */
}

#cabecera {
    font-size: 1em;          /* Tamaño de fuente para el texto dentro del encabezado, equivalente al doble del tamaño estándar */
    margin-bottom: 0.5em;    /* Espacio debajo del encabezado, separándolo de otros elementos */
}

#logo {
    font-size: 2em;          /* Tamaño de fuente para el texto dentro del encabezado, equivalente al doble del tamaño estándar */
    margin-bottom: 0.5em;    /* Espacio debajo del encabezado, separándolo de otros elementos */
}

#menu {
    margin-bottom: 6em;      /* Espacio inferior para separar el menú de otros elementos a continuación */
}

#menu a {
    text-decoration: none;   /* Quita la subrayado de los enlaces del menú */
    color: red;              /* Establece el color de texto de los elementos de lista en rojo */
}

#menu li {
    list-style-type: none;   /* Quita los puntos o viñetas de los elementos de lista */
    float: left;             /* Hace que los elementos de la lista se alineen horizontalmente en lugar de verticalmente */
    margin: 10px;            /* Añade espacio exterior alrededor de cada elemento de la lista */
    padding: 0px;            /* Quita el espacio interior de cada elemento de lista */
}

#menu li a:hover {
    color: black;            /* Cambia el color del enlace a negro cuando el usuario pasa el ratón por encima */
}

#menu li a:visited {
    color: blue;              /* Cambia el color del enlace a rojo si el usuario ya ha visitado ese enlace */
}

#contenido {
    background-color: grey;  /* Define un fondo gris para el contenedor de contenido */
    border: 2px solid red;   /* Añade un borde rojo de 2px alrededor del contenedor de contenido */
    color: white;            /* Establece el color del texto en blanco dentro del contenedor de contenido */
    
}

.articulo h2 {
    font-family: Verdana;    /* Aplica la fuente Verdana a los encabezados h2 dentro de los artículos */
    color: red;              /* Establece el color del texto de los encabezados h2 en rojo */
    text-align: center;
}
