
.clockdate-wrapper {
    background-color: #333;/*background-color = Color de fondo*/
    padding:25px;/*padding= Tamaño del relleno*/
    max-width:350px;/*max-width = se utiliza para establecer el ancho máximo de un elemento especificado*/
    width:100%;/*width = especifica la anchura del area de contenido de un elemento.*/
    text-align:center;/*Text-align = posición del texto*/
    border-radius:5px;/*border-radius = nos permite redondear los bordes de las cajas*/
    margin:0 auto;/*margin= Ancho de los margenes*/
    margin-top:15%;/*margin-top = establece el margen superior de un elemento especificando una longitud o un porcentaje*/
}
#clock{
    background-color:#333;/*background-color = Color de fondo*/
    font-family: sans-serif;/*font-family = Familias de fuentes*/
    font-size:60px;/*font-size = Tamaño de la fuente*/
    text-shadow:0px 0px 1px #fff;/*text-shadow = agrega sombra al texto*/
    color:#fff;/*color = selecciona el valor de color de primer plano del contenido de elemento de texto y decoraciones de texto*/
}
#clock span {
    color:#999;/*color = selecciona el valor de color de primer plano del contenido de elemento de texto y decoraciones de texto*/
    text-shadow:0px 0px 1px #333;/*text-shadow = agrega sombra al texto*/
    font-size:30px;/*font-size = Tamaño de la fuente*/
    position:relative;/*position = especifica cómo un elemento es posicionado en el documento*/
    top:-27px;/*top = permite desplazar un elemento respecto a su posición original tomando como referencia el borde superior del 
              elemento*/
    left:-10px;/*left = permite desplazar un elemento respecto a su posición original tomando como referencia el borde izquierdo 
               del elemento.*/
}
#date {
    letter-spacing:10px;/*letter-spacing = define una cantidad adicional de espacio entre caracteres*/
    font-size:14px;/*font-size = Tamaño de la fuente*/
    font-family:arial,sans-serif;/*font-family = Familias de fuentes*/
    color:#fff;/*color = selecciona el valor de color de primer plano del contenido de elemento de texto y decoraciones de texto*/
}